# SQL-databases

sqlite database

In [16]:
import sqlite3 as db

In [17]:
connection = db.connect("example.sqlite")

using cursor to execute SQL commands

In [18]:
cursor = connection.cursor()
#create a table
cursor.execute("""CREATE TABLE IF NOT EXISTS orders(
        order_id TEXT,
        date TEXT,
        symbol TEXT,
        quantity INTEGER,
        price NUMBER)""")
#insert a row 
cursor.execute("""INSERT INTO orders VALUES
        ('A0001', '2013-12-01', 'AAPL', 1000, 203.4)""")
#save the changes
connection.commit()

In [19]:
# for security & multiple rows
orders = [
          ("A0002","2013-12-01","MSFT",1500,167.5),
          ("A0003","2013-12-02","GOOG",1500,167.5)
]
cursor.executemany("""INSERT INTO orders VALUES
    (?, ?, ?, ?, ?)""", orders)
connection.commit()

In [20]:
# db format
db.paramstyle

'qmark'

Cancel a commit() with rollback()

try:
    ... # perform some operations
except:
    connection.rollback()
    raise
else:
    connection.commit()

In [32]:
# SELECT
for row in cursor.execute('SELECT * FROM orders ORDER BY order_id'):
    print (row)

('A0001', '2013-12-01', 'AAPL', 1000, 203.4)
('A0002', '2013-12-01', 'MSFT', 1500, 167.5)
('A0003', '2013-12-02', 'GOOG', 1500, 167.5)

In [33]:
# CLOSE DB
cursor.close()
connection.close()